@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            Ingrese el elemento a buscar:
            <input type="text" />
            <input type="button" value="Buscar" />
        </p>

        <p>

        </p>
    </div>
</body>
</html>
